body {
    background: rgb(0,5,36);
    background: linear-gradient(90deg, rgba(0,5,36,1) 0%, rgba(121,42,9,1) 36%, rgba(85,78,83,1) 97%);
} 

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 10vw;
    height: 10vh;
    font-size: 5vh;
    background-color: #EEEE;
}

.textview {
    width: 40vw;
}
